body {
  background-color: #212121;
  color: white;
}

#ytrf-hideInput, #ytrf-result {
  font: inherit;
  margin: 0;
  padding: 5px;
  font-size: large;
  font-weight: bold;
  margin-bottom: 8px;
  background-color: #212121;
  outline: none;
  cursor: pointer;
}

#ytrf-hideInput {
  /* position: absolute; */
  padding: 5px;
  /* height: 0; */
  position: fixed;
  top: -100vh;
  overflow: hidden;
  white-space: pre;
}

#ytrf-result {
  color: #F2EB05;
  border: none;
  min-width: 10px;
}

#ytrf-titleContainer {
  text-align: center;
}

.ytrf-cardContainer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #333333;
  border-radius: 20px;
}

.ytrf-coverContainer {
  padding-right: 3px;
  height: 100px;
  background-color: #F2EB05;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.ytrf-info {
  width: 100%;
  margin-left: 5px;
}

.ytrf-cover {
  width: 100px;
  height: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.ytrf-title {
  margin: 0;
  font-weight: bold;
  font-size: medium;
}

.ytrf-artists {
  margin: 0;
  color: rgba(200, 200, 200)
}

.ytrf-cardLogo {
  width: 25px;
  height: 25px;
  padding: 5px;
}

.ytrf-cardTopContainer {
  display: flex;
  justify-content: space-between;
}

.ytrf-cardSeparator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ytrf-cardBottomContainer {
  height: 100%;
  display: flex;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 5px;
  border-bottom-right-radius: 20px;
  background-color: #2b2b2b;
}

button {
  border-radius: 5px;
  background: transparent;
  border: 2px solid white !important;
  /* background: linear-gradient(to right, #67b26b, #4FD65B) !important; */
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  cursor: pointer;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

button:hover{
  background-color: white;
  color: black;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

button.player-button {
  border-radius: 50px;
  padding: 5px 10px 5px 10px

}

button.player-button.spotify:hover{
  background-color: #50D75D;
}

button.player-button.spotify {
  border: 2px solid #50D75D !important;
}

.example_f {
  border-radius: 50px;
  background: linear-gradient(to right, #67b26b, #4FD65B) !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  /* font-size: 22px; */
  padding: 10px;
  width: 135px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
}

.example_f:hover {
  background: rgba(79, 214, 90, 0.781);
  transition: all 0.4s ease 0s;
}